<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onion.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="com.onion.entity.pojo.Product">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="restaurantId" column="restaurant_id" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="date" column="date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,price,
        restaurant_id,status,date
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from product
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from product
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.onion.entity.pojo.Product" useGeneratedKeys="true">
        insert into product
        ( id,name,price
        ,restaurant_id,status,date
        )
        values (#{id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR},#{price,jdbcType=DECIMAL}
        ,#{restaurantId,jdbcType=INTEGER},#{status,jdbcType=VARCHAR},#{date,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.onion.entity.pojo.Product" useGeneratedKeys="true">
        insert into product
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="name != null">name,</if>
                <if test="price != null">price,</if>
                <if test="restaurantId != null">restaurant_id,</if>
                <if test="status != null">status,</if>
                <if test="date != null">date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="name != null">#{name,jdbcType=VARCHAR},</if>
                <if test="price != null">#{price,jdbcType=DECIMAL},</if>
                <if test="restaurantId != null">#{restaurantId,jdbcType=INTEGER},</if>
                <if test="status != null">#{status,jdbcType=VARCHAR},</if>
                <if test="date != null">#{date,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.onion.entity.pojo.Product">
        update product
        <set>
                <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="price != null">
                    price = #{price,jdbcType=DECIMAL},
                </if>
                <if test="restaurantId != null">
                    restaurant_id = #{restaurantId,jdbcType=INTEGER},
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=VARCHAR},
                </if>
                <if test="date != null">
                    date = #{date,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.onion.entity.pojo.Product">
        update product
        set 
            name =  #{name,jdbcType=VARCHAR},
            price =  #{price,jdbcType=DECIMAL},
            restaurant_id =  #{restaurantId,jdbcType=INTEGER},
            status =  #{status,jdbcType=VARCHAR},
            date =  #{date,jdbcType=TIMESTAMP}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
