<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onion.mapper.RestaurantMapper">

    <resultMap id="BaseResultMap" type="com.onion.entity.pojo.Restaurant">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="settlementId" column="settlement_id" jdbcType="INTEGER"/>
            <result property="date" column="date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,address,
        status,settlement_id,date
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from restaurant
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from restaurant
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.onion.entity.pojo.Restaurant" useGeneratedKeys="true">
        insert into restaurant
        ( id,name,address
        ,status,settlement_id,date
        )
        values (#{id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR}
        ,#{status,jdbcType=VARCHAR},#{settlementId,jdbcType=INTEGER},#{date,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.onion.entity.pojo.Restaurant" useGeneratedKeys="true">
        insert into restaurant
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="name != null">name,</if>
                <if test="address != null">address,</if>
                <if test="status != null">status,</if>
                <if test="settlementId != null">settlement_id,</if>
                <if test="date != null">date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="name != null">#{name,jdbcType=VARCHAR},</if>
                <if test="address != null">#{address,jdbcType=VARCHAR},</if>
                <if test="status != null">#{status,jdbcType=VARCHAR},</if>
                <if test="settlementId != null">#{settlementId,jdbcType=INTEGER},</if>
                <if test="date != null">#{date,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.onion.entity.pojo.Restaurant">
        update restaurant
        <set>
                <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="address != null">
                    address = #{address,jdbcType=VARCHAR},
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=VARCHAR},
                </if>
                <if test="settlementId != null">
                    settlement_id = #{settlementId,jdbcType=INTEGER},
                </if>
                <if test="date != null">
                    date = #{date,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.onion.entity.pojo.Restaurant">
        update restaurant
        set 
            name =  #{name,jdbcType=VARCHAR},
            address =  #{address,jdbcType=VARCHAR},
            status =  #{status,jdbcType=VARCHAR},
            settlement_id =  #{settlementId,jdbcType=INTEGER},
            date =  #{date,jdbcType=TIMESTAMP}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
